* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #424242;
}

.board {
    position: relative;
    margin: calc(50vh - 15vw) auto 0;
    width: 30vw;
    height: 30vw;
    border: 10px solid black;
    font-size: 0;

}

span:nth-of-type(1) {
    display: block;
    position: absolute;
    background-color: #f00;
    width: calc(15vw - 10px);
    height: calc(15vw - 10px);
    float: left;
    left: 0;
    top: 0;
}

span:nth-of-type(4) {
    display: block;
    position: absolute;
    background-color: #f00;
    width: calc(15vw - 10px);
    height: calc(15vw - 10px);
    float: left;
    bottom: 0;
    right: 0;
}



span:nth-of-type(2) {
    display: block;
    position: absolute;
    background-color: #fff;
    width: calc(15vw - 10px);
    height: calc(15vw - 10px);
    float: left;
    top: 0;
    right: 0;
}

span:nth-of-type(3) {
    display: block;
    position: absolute;
    background-color: #fff;
    width: calc(15vw - 10px);
    height: calc(15vw - 10px);
    float: left;
    bottom: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-family: arial;
    margin-top: 40px;
    text-transform: uppercase;
}